// .wrapper {
//   height: 600px;
//   width: inherit;;
// }

.map {
  height: 600px;
  width: inehrit;
}

.popup {
  width: 200px;

  @media only screen and (max-width: 31.25em) {
    width: 150px;
  }
}

.countryDetails {
  text-align: center;
  padding-top: 6px;


  &Flag {
    box-shadow: 0 -.2px 2px rgba(#000, .1), 0 .2px 2px rgba(#000, .1);
    border-radius: 5px;
    width: 105px;
    height: 60px;
  }

  &CountryName {
    font-family: 'Poppins';
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .3rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}


.countryData {
  text-align: center;
  font-weight: 400;

  &Infections,
  &Deaths,
  &Recovered,
  &Vaccinated {
    font-weight: inherit;
    font-size: .9rem;
    margin-top: .1rem;
  }
}
